version: "2"
services:
  users-microservice-v1:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: users_microservice
    ports:
      - 8801:8085
      - 8802:8804
    restart: always
    volumes:
      - '.:/go/src/github.com/LensPlatform/Lens'